.bus-ride {
  height: auto;
  width: 100%;
  border: 4px solid #9e9e9e;
  border-radius: 10px;
  padding: 1rem 2rem;
  background: #fff;
}

.bus-ride__grid {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.bus-ride__seat {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background: #fafafa;
  color: #424242;

  display: grid;
  place-items: center;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.bus-ride__taken {
  background: #e53935 !important;
  pointer-events: none;
}

.bus-ride__taken:hover {
  transform: scale(0.9);
}

.bus-ride__selected {
  background: #4caf50 !important;
  color: #fff;
}

.indicator {
  height: 20px;
  width: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.indicator__available {
  background: #fff;
}

.indicator__selected {
  background: #4caf50;
}

.indicator__booked {
  background: #e53935;
  color: #fff;
}
.custom-modal {
  width: 95% !important;
}

.flex-justify-end {
  display: flex;
  justify-content: flex-end;
}

.font-16 {
  font-size: 14px;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.px-5 {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  font-size: 1.3rem;
}

.badge-danger-light {
  background: rgba(229, 57, 35, 0.8) !important;
  color: #fff !important;
  padding: 0.8rem 1.6rem;
  font-size: 1.3rem;
}

.badge-gray-light {
  background: #e0e0e0 !important;
  font-size: larger;
  padding: 0.5rem 1rem;
}

.flex-justify-content-between {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.seats {
  font-weight: 600;
  font-size: 1.4rem;
}

.badge-lg {
  font-size: 1.4rem;
  padding: 0.4rem 0.8rem;
}

@media screen and (min-width: 780px) {
  .custom-modal {
    width: 50% !important;
  }

  .flex-justify-content-between {
    flex-direction: row;
    justify-content: space-between;
  }
}

/*
  Modal Section
*/

.custom-modal * {
  color: #455a64;
}

.add-menu-sidebar {
  background: #ec3238;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: medium;
}
